## Default index
DirectoryIndex index.php

## Do not show directory listings
Options -Indexes

## SEO Rewrite
RewriteEngine on
RewriteRule ^index$ index.php [L]
RewriteRule ^paste$ paste.php [L]
RewriteRule ^latest$ latest.php [L]
RewriteRule ^([0-9a-f]+)$ display.php?id=$1 [L]
RewriteRule ^raw/([0-9a-f]+)$ display.php?id=$1&raw [L]

## Security stuff
## Enable on production!
<FilesMatch "(.sql|tmp|tpl|libs|.inc.php|.class.php)">
  Order Allow,Deny
  Deny from all
</FilesMatch>
