<?php

/**
 * Configuration file.
 *
 * @author    Michal Olech <me@dzonder.net>
 * @copyright 2011 YAPT
 */

/**
 * Page url - used in redirection
 */
define('CONF_URL', 'http://localhost/yapt/');

/**
 * Page title
 */
define('CONF_TITLE', 'Yet Another Paste Tool');

/**
 * Name in copyright - page footer
 */
define('CONF_FOOTER_NAME', 'dzonder');

/**
 * Email in copyright - page footer
 */
define('CONF_FOOTER_EMAIL', 'me@dzonder.net');

/**
 * Number of displayed pastes in latest list
 */
define('CONF_LATEST_LIMIT', 25);

/**
 * Enabled language highlighters
 */
$conf_languages = array(
   'text' => array('extension' => 'txt', 'label' => 'None'),
   'abap' => array('extension' => 'abap', 'label' => 'ABAP'),
   'actionscript' => array('extension' => 'as', 'label' => 'ActionScript'),
   'ada' => array('extension' => 'adb', 'label' => 'Ada'),
   'apache' => array('extension' => 'conf', 'label' => 'Apache'),
   'applescript' => array('extension' => 'as', 'label' => 'AppleScript'),
   'asm' => array('extension' => 'asm', 'label' => 'Assembler'),
   'asp' => array('extension' => 'asp', 'label' => 'ASP'),
   'autoit' => array('extension' => 'au3', 'label' => 'AutoIt'),
   'bash' => array('extension' => 'sh', 'label' => 'Bash'),
   'blitzbasic' => array('extension' => 'bb', 'label' => 'Blitz BASIC'),
   'bnf' => array('extension' => 'bnf', 'label' => 'BNF'),
   'c' => array('extension' => 'c', 'label' => 'C'),
   'c_mac' => array('extension' => 'c', 'label' => 'C for Mac'),
   'caddcl' => array('extension' => 'dcl', 'label' => 'CAD DCL'),
   'cadlisp' => array('extension' => 'lsp', 'label' => 'AutoCAD Lisp'),
   'cfdg' => array('extension' => 'cfdg', 'label' => 'CFDG'),
   'cfm' => array('extension' => 'cfm', 'label' => 'ColdFusion'),
   'cpp-qt' => array('extension' => 'cc', 'label' => 'C++ with QT'),
   'cpp' => array('extension' => 'cc', 'label' => 'C++'),
   'csharp' => array('extension' => 'cs', 'label' => 'C#'),
   'css' => array('extension' => 'css', 'label' => 'CSS'),
   'd' => array('extension' => 'd', 'label' => 'D'),
   'delphi' => array('extension' => 'pas', 'label' => 'Object Pascal'),
   'diff' => array('extension' => 'diff', 'label' => 'diff'),
   'eiffel' => array('extension' => 'e', 'label' => 'Eiffel'),
   'fortran' => array('extension' => 'f', 'label' => 'Fortran'),
   'freebasic' => array('extension' => 'bas', 'label' => 'FreeBASIC'),
   'gml' => array('extension' => 'gml', 'label' => 'GML'),
   'groovy' => array('extension' => 'groovy', 'label' => 'Groovy'),
   'haskell' => array('extension' => 'hs', 'label' => 'Haskell'),
   'html4strict' => array('extension' => 'html', 'label' => 'HTML 4 Strict'),
   'ini' => array('extension' => 'ini', 'label' => 'INI'),
   'io' => array('extension' => 'io', 'label' => 'Io'),
   'java' => array('extension' => 'java', 'label' => 'Java'),
   'java5' => array('extension' => 'java', 'label' => 'Java 5'),
   'javascript' => array('extension' => 'js', 'label' => 'JavaScript'),
   'latex' => array('extension' => 'tex', 'label' => 'LaTeX'),
   'lisp' => array('extension' => 'lsp', 'label' => 'Lisp'),
   'lua' => array('extension' => 'lua', 'label' => 'Lua'),
   'm68k' => array('extension' => 'asm', 'label' => 'Motorola ASM'),
   'matlab' => array('extension' => 'm', 'label' => 'Matlab M-file'),
   'mirc' => array('extension' => 'ini', 'label' => 'mIRC'),
   'mpasm' => array('extension' => 'asm', 'label' => 'Microchip ASM'),
   'mysql' => array('extension' => 'sql', 'label' => 'MySQL'),
   'nsis' => array('extension' => 'nsh', 'label' => 'Nullsoft SIS'),
   'objc' => array('extension' => 'm', 'label' => 'Objective C'),
   'ocaml' => array('extension' => 'ml', 'label' => 'OCaml'),
   'pascal' => array('extension' => 'pas', 'label' => 'Pascal'),
   'perl' => array('extension' => 'pl', 'label' => 'Perl'),
   'php' => array('extension' => 'php', 'label' => 'PHP'),
   'plsql' => array('extension' => 'pls', 'label' => 'PL/SQL'),
   'python' => array('extension' => 'py', 'label' => 'Python'),
   'qbasic' => array('extension' => 'bas', 'label' => 'QBasic'),
   'rails' => array('extension' => 'rb', 'label' => 'Ruby on Rails'),
   'reg' => array('extension' => 'reg', 'label' => 'Microsoft Registry'),
   'robots' => array('extension' => 'txt', 'label' => 'robots.txt'),
   'ruby' => array('extension' => 'rb', 'label' => 'Ruby'),
   'scheme' => array('extension' => 'scm', 'label' => 'Scheme'),
   'sdlbasic' => array('extension' => 'sdlbas', 'label' => 'sdlBasic'),
   'smalltalk' => array('extension' => 'st', 'label' => 'Smalltalk'),
   'smarty' => array('extension' => 'tpl', 'label' => 'Smarty'),
   'sql' => array('extension' => 'sql', 'label' => 'SQL'),
   'tcl' => array('extension' => 'tcl', 'label' => 'Tcl'),
   'thinbasic' => array('extension' => 'bas', 'label' => 'thinBasic'),
   'tsql' => array('extension' => 'tsql', 'label' => 'T-SQL'),
   'vb' => array('extension' => 'vb', 'label' => 'Visual Basic'),
   'vbnet' => array('extension' => 'vb', 'label' => 'Visual Basic .NET'),
   'vhdl' => array('extension' => 'vhdl', 'label' => 'VHDL'),
   'winbatch' => array('extension' => 'wbt', 'label' => 'WinBatch'),
   'xml' => array('extension' => 'xml', 'label' => 'XML'),
   'xpp' => array('extension' => 'xpp', 'label' => 'X++'),
   'z80' => array('extension' => 'asm', 'label' => 'ZiLOG Z80')
);

/**
 * MySQL server. Specify port by adding :port
 */
define('MYSQL_HOST', 'localhost');

/**
 * MySQL user name
 */
define('MYSQL_USER', 'yapt');

/**
 * MySQL password
 */
define('MYSQL_PASSWORD', 'yapt');

/**
 * MySQL database to use by default
 */
define('MYSQL_DATABASE', 'yapt');

?>
