<?php

/**
 * Configuration file.
 *
 * @author    Michal Olech <me@dzonder.net>
 * @copyright 2011 YAPT
 */

/**
 * Page url - used in redirection
 */
define('CONF_URL', 'http://localhost/yapt/');

/**
 * Page title
 */
define('CONF_TITLE', 'Yet Another Paste Tool');

/**
 * Name in copyright - page footer
 */
define('CONF_FOOTER_NAME', 'dzonder');

/**
 * Email in copyright - page footer
 */
define('CONF_FOOTER_EMAIL', 'me@dzonder.net');

/**
 * Number of displayed pastes in latest list
 */
define('CONF_LATEST_LIMIT', 25);

/**
 * Enabled language highlighters
 */
$conf_languages = array(
   'text' => 'None',
   'abap' => 'ABAP',
   'actionscript' => 'ActionScript',
   'ada' => 'Ada',
   'apache' => 'Apache',
   'applescript' => 'AppleScript',
   'asm' => 'Assembler',
   'asp' => 'ASP',
   'autoit' => 'AutoIt',
   'bash' => 'Bash',
   'blitzbasic' => 'Blitz BASIC',
   'bnf' => 'BNF',
   'c' => 'C',
   'c_mac' => 'C for Macs',
   'caddcl' => 'CAD DCL',
   'cadlisp' => 'AutoCAD Lisp',
   'cfdg' => 'CFDG',
   'cfm' => 'ColdFusion',
   'cpp-qt' => 'C++ with QT',
   'cpp' => 'C++',
   'csharp' => 'C#',
   'css' => 'CSS',
   'd' => 'D',
   'delphi' => 'Object Pascal',
   'diff' => 'diff',
   'div' => 'DIV',
   'dos' => 'DOS',
   'dot' => 'dot',
   'eiffel' => 'Eiffel',
   'fortran' => 'Fortran',
   'freebasic' => 'FreeBASIC',
   'genero' => 'Genero 4GL',
   'gml' => 'GML',
   'groovy' => 'Groovy',
   'haskell' => 'Haskell',
   'html4strict' => 'HTML 4 Strict',
   'idl' => 'Unoidl',
   'ini' => 'INI',
   'inno' => 'InnoScript',
   'io' => 'Io',
   'java' => 'Java',
   'java5' => 'Java 5',
   'javascript' => 'JavaScript',
   'latex' => 'LaTeX',
   'lisp' => 'Lisp',
   'lua' => 'Lua',
   'm68k' => 'Motorola ASM',
   'matlab' => 'Matlab M-file',
   'mirc' => 'mIRC',
   'mpasm' => 'Microchip ASM',
   'mysql' => 'MySQL',
   'nsis' => 'Nullsoft SIS',
   'objc' => 'Objective C',
   'ocaml' => 'OCaml',
   'oobas' => 'OpenOffice.org Basic',
   'oracle8' => 'Oracle 8',
   'pascal' => 'Pascal',
   'perl' => 'Perl',
   'php' => 'PHP',
   'plsql' => 'PL/SQL',
   'python' => 'Python',
   'qbasic' => 'QBasic',
   'rails' => 'Rails',
   'reg' => 'Microsoft Registry',
   'robots' => 'robots.txt',
   'ruby' => 'Ruby',
   'sas' => 'SAS',
   'scheme' => 'Scheme',
   'sdlbasic' => 'sdlBasic',
   'smalltalk' => 'Smalltalk',
   'smarty' => 'Smarty',
   'sql' => 'SQL',
   'tcl' => 'Tcl',
   'thinbasic' => 'thinBasic',
   'tsql' => 'T-SQL',
   'vb' => 'Visual Basic',
   'vbnet' => 'Visual Basic .NET',
   'vhdl' => 'VHDL',
   'visualfoxpro' => 'Visual FoxPro',
   'winbatch' => 'WinBatch',
   'xml' => 'XML',
   'xpp' => 'X++',
   'z80' => 'ZiLOG Z80'
);

/**
 * MySQL server. Specify port by adding :port
 */
define('MYSQL_HOST', 'localhost');

/**
 * MySQL user name
 */
define('MYSQL_USER', 'yapt');

/**
 * MySQL password
 */
define('MYSQL_PASSWORD', 'yapt');

/**
 * MySQL database to use by default
 */
define('MYSQL_DATABASE', 'yapt');

?>
